{
    "tabWidth": 2,
    "printWidth": 120,
    "singleQuote": false,
    "semi": false,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "Icons.tsx",
            "options": {
                "printWidth": 100000
            }
        }
    ]
}
