{
  "tabWidth": 4,
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "Icons.tsx",
      "options": {
        "printWidth": 100000
      }
    },
    {
      "files": "index.html",
      "options": {
        "printWidth": 100000
      }
    }
  ]
}
